@import '../../global.scss';
.Header{
    // border: 1px solid yellow;
    width: 80%;
    text-align: center;
    margin: 1rem auto;
    h1{
        // border: red 1px solid;
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }
}