@import './global.scss';
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  background-image: url('../public/images/cold-bg.jpg');
  background-size: cover;
  background-position: bottom;
  transition: all 1s ease;
  &.warm{
    background-image: url('../public/images/warm-bg.jpg');
    background-size: cover;
    background-position: bottom;
    transition: all 1s ease;
  }
  main{
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0,0.1),rgb(0, 0, 0,0.8));
    padding: 1rem;
    .searchcontainer{
      // border: rgb(36, 63, 8) 1px solid;
      width: 100%;
      margin-bottom: 1rem;
      margin-top: 1.5rem;
      .searchbar{
        // border: crimson 1px solid;
        display: block;
        width: 100%;
        height: 3rem;
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem auto;
        border: none;
        outline: none;
        backdrop-filter: blur(5px);
        background: rgb(225,225,225,0.4);
        color: rgba(0,0,0,0.7);
        border-radius: 0.5rem;
        box-shadow: rgba(65, 64, 64, 0.3) 4px 4px 5px;
        &:hover{
          background-color: rgb(225,225,225,0.7);
        }
        &:focus{
          background-color: rgb(225,225,225,0.5);
        }
      }
    }
    .location-container{
      color: white;
      .city{
        // border: rgb(90, 82, 69) 1px dotted;
        font-size: 2.5rem;
        text-align: center;
        text-shadow: rgb(46, 46, 46) 4px 4px 3px;
        margin-top: 4rem;
      }
      .date{
        font-size: 1.5rem;
        text-align: center;
        font-style: italic;
        margin-top: 0.5rem;
        text-shadow: rgb(51, 51, 51) 2px 2px 3px;
      }
      .weather-container{
        // margin-top: 4rem;
        .temp{
          // border: mediumvioletred 1px solid;
          font-size: 5rem;
          font-weight: 700;
          text-align: center;
          backdrop-filter: blur(5px);
          background-color: rgb(255,255,255,0.1);
          text-shadow: rgb(51, 51, 51) 4px 4px 3px;
          // height: 90%;
          width: 70%;
          margin: 1rem auto;
          border-radius: 0.5rem;
          box-shadow: rgb(255,255,255,0.3) 3px 3px 4px;;
        }
        .condition{
          font-size: 2.5rem;
          text-align: center;
          font-weight: 500;
          text-shadow: rgb(153, 153, 153) 1px 1px 2px;
        }
      }
    }
  }
}
